<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Listado de productos</title>
</head>
<body>
    <h2>Listado de productos</h2>
    <ul>
        <% for(let i=0; i < allProducts.length; i++) {%>
            <li>
                <article class="algo">
                    <a href="/product/<%= allProducts[i].id%>">
                        <img src=<%= allProducts[i].img%> alt="img" width="130px" height="120px">
                    </a>
                    <p>
                        Producto: <%= allProducts[i].nameProduct%>
                    </p>
                    <p>
                        Precio: <%= allProducts[i].price%>
                    </p>
                </article>
            </li>
        <%}%>
    </ul>
</body>
</html>